#!/usr/bin/env fish

# https://www.chezmoi.io/user-guide/use-scripts-to-perform-actions/#run-a-script-when-the-contents-of-another-file-changes

# fish_plugins hash: {{ include "private_dot_config/fish/fish_plugins" | sha256sum }}
fisher update
