#!/usr/bin/env fish

# https://www.chezmoi.io/user-guide/use-scripts-to-perform-actions/#run-a-script-when-the-contents-of-another-file-changes

# Ghostty config hash: {{ include "private_Library/private_Application Support/com.mitchellh.ghostty/config" | sha256sum }}
ghostty +validate-config
