#!/usr/bin/env fish

# https://www.chezmoi.io/user-guide/use-scripts-to-perform-actions/#run-a-script-when-the-contents-of-another-file-changes

# mise.toml hash: {{ include "private_dot_config/mise/config.toml" | sha256sum }}
mise install
