#!/usr/bin/env fish

# https://www.chezmoi.io/user-guide/use-scripts-to-perform-actions/#run-a-script-when-the-contents-of-another-file-changes

# 1Password SSH_AUTH_SOCK LaunchAgent config hash: {{ include "private_Library/LaunchAgents/com.1password.SSH_AUTH_SOCK.plist" | sha256sum }}
set -l domain gui/(id -u)
set -l label com.1password.SSH_AUTH_SOCK
set -l plist "$HOME/Library/LaunchAgents/$label.plist"

launchctl bootout "$domain/$label" 2>/dev/null
launchctl bootstrap "$domain" "$plist"
