{
  "enabledPlugins": {
    "core@factory-plugins": true
  },
  "customModels": [
    {
      "model": "claude-opus-4-6",
      "id": "custom:Opus-4.6-[Custom]-0",
      "index": 0,
      "baseUrl": "https://api.anthropic.com",
      "apiKey": "{{ onepasswordRead "op://Employee/Anthropic API key for Factory/password" "sanity.1password.com" }}",
      "displayName": "Opus 4.6 [Custom]",
      "maxOutputTokens": 128000,
      "noImageSupport": false,
      "provider": "anthropic"
    }
  ],
  "includeCoAuthoredByDroid": false,
  "showThinkingInMainView": true,
  "commandAllowlist": [
    "vp check"
  ],
  "commandDenylist": [
    "npx"
  ],
  "logoAnimation": "off",
  "ideExtensionPromptedAt": {
    "vscode": 1775715347496
  },
  "sessionDefaultSettings": {
    "model": "custom:Opus-4.6-[Custom]-0",
    "reasoningEffort": "medium",
    "autonomyMode": "auto-low"
  }
}
