{{ $secrets := include "secrets.json.age" | decrypt | fromJson -}}
{
  "enabledPlugins": {
    "core@factory-plugins": true
  },
  "customModels": [
    {
      "model": "claude-opus-4-8",
      "id": "custom:Opus-4.8-0",
      "index": 0,
      "baseUrl": "https://api.anthropic.com",
      "apiKey": {{ $secrets.ANTHROPIC_API_KEY_FACTORY | toJson }},
      "displayName": "Opus 4.8",
      "maxOutputTokens": 128000,
      "noImageSupport": false,
      "provider": "anthropic"
    },
    {
      "model": "claude-opus-4-7",
      "id": "custom:Opus-4.7-0",
      "index": 0,
      "baseUrl": "https://api.anthropic.com",
      "apiKey": {{ $secrets.ANTHROPIC_API_KEY_FACTORY | toJson }},
      "displayName": "Opus 4.7",
      "maxOutputTokens": 128000,
      "noImageSupport": false,
      "provider": "anthropic"
    },
    {
      "model": "claude-opus-4-6",
      "id": "custom:Opus-4.6-0",
      "index": 0,
      "baseUrl": "https://api.anthropic.com",
      "apiKey": {{ $secrets.ANTHROPIC_API_KEY_FACTORY | toJson }},
      "displayName": "Opus 4.6",
      "maxOutputTokens": 128000,
      "noImageSupport": false,
      "provider": "anthropic"
    },
    {
      "model": "gpt-5.5",
      "id": "custom:GPT-5.5-0",
      "index": 0,
      "baseUrl": "https://api.openai.com/v1",
      "apiKey": {{ $secrets.OPENAI_API_KEY_FACTORY | toJson }},
      "displayName": "GPT-5.5",
      "maxOutputTokens": 128000,
      "noImageSupport": false,
      "provider": "openai"
    }
  ],
  "includeCoAuthoredByDroid": false,
  "showThinkingInMainView": true,
  "commandAllowlist": [
    "vp check",
    "./gradlew build",
    "pnpm vitest run"
  ],
  "commandDenylist": [
    "gh issue comment",
    "gh pr comment"
  ],
  "logoAnimation": "off",
  "ideExtensionPromptedAt": {
    "vscode": 1775715347496
  },
  "sessionDefaultSettings": {
    "model": "custom:GPT-5.5-0",
    "reasoningEffort": "high",
    "autonomyMode": "auto-low"
  },
  "windowZoomLevel": 0,
  "remoteAccessEnabled": true
}
