{{ $secrets := include "secrets.json.age" | decrypt | fromJson -}}
{
    "mcpServers": {
    	"sanity": {
    		"type": "remote",
    		"url": "https://mcp.sanity.io",
    		"enabled": false
    	},
    	"github": {
    		"type": "remote",
    		"url": "https://api.githubcopilot.com/mcp",
    		"headers": {
    			"Authorization": "Bearer {{ $secrets.GITHUB_PAT_JETBRAINS }}"
    		}
    	},
    	"circleci": {
    		"type": "stdio",
    		"command": "bunx",
    		"args": ["@circleci/mcp-server-circleci@latest"],
    		"env": {
    			"CIRCLECI_TOKEN": {{ $secrets.CIRCLECI_PERSONAL_API_TOKEN | toJson }}
    		}
    	},
    	"linear": {
    		"type": "remote",
    		"url": "https://mcp.linear.app/mcp"
    	}
    }
}